.white-form {
    -fx-background-color: #fff;
    -fx-border-color: #8a2be2;
    -fx-border-width: 2px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}
.btn{
    -fx-background-color: linear-gradient(to bottom right ,#9E20A0 ,#5A3375);
    -fx-text-fill: #fff;
    -fx-font-size: 14px; 
    -fx-cursor: hand;
}
.btn:hover{
    -fx-background-color: linear-gradient(to bottom right ,#a914ae ,#7f4fa4);
}

.listview_crud {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.list-cell {
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

.list-cell:hover {
    -fx-background-color: #f0f0f0;
}

.list-cell:filled:selected {
    -fx-background-color: #0077c6;
    -fx-text-fill: white;
}


